.builder-area {
  // align-content: stretch;
  // align-items: stretch;
  // display: flex;
  // position: relative;
  // margin-top: 6rem;
  position: absolute;
  top: 6rem;
  left: 0;
  bottom: 0;

  display: flex !important;
  flex-grow: 1;
  width: 100vw;
  overflow: hidden;
  background-color: #efefef;
}