#endcap-pattern-picker {
  background-color: white;
  padding: 1rem;
  border-radius: .7rem;

  section {
    &:first-child {
      h4 {
        margin-top: 0;
      }
    }
    h4 {
      margin-top: 2rem;
    }

    .swatch {
      margin: .3rem;
    }

  }
}
