div[role=banner] {
  background-color: white;
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 69%,rgba(132,132,132,0) 84%,rgba(0,0,0,0.25) 100%); */
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0.6rem 0;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;

  img {
    height: 5rem;
  }

  a.btn {
    position: absolute;
    right: 1.5rem;
    display: block;
    top: 1.2rem;
  }
}