.imageModal {

  i {
    align-items: center;
    color: inherit;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .imageModal-header {
    display: flex;
    margin-left: 4rem;

    .imageModal-closeButton {
      border: 1px solid $cod-gray;
      height: 3rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 3rem;

      &:hover {
        background-color: $bondi-blue;
        color: #000;
      }

    }
  }

  .imageModal-image-wrapper {
    align-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;

    span {
      border: 1px solid $cod-gray;
      height: 3rem;
      width: 2rem;
      margin: 1rem;
    }

    .imageModal-image {
      height: 600px;
      width: 800px;
    }
  }
}
