.order-summary-message {
    table {
      margin: 0 auto;

      td {
        vertical-align: middle;
      }

      td:first-child {
        padding: 1rem;
      }
    }

    p.text-info {
      a:first-child {
        margin-right: 1rem;
      }
    }
}
