section[type="overlay"] {
  font-weight: 100;
  font-size: 3rem;
  pointer-events: none;
  width: 70vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  .dimensions {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    font-size: 2.0rem;
  }

  .cost {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8.5rem;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.7);
    margin: 0;
  }


  .background-picker {
    position: absolute;

    background-color: transparent;
    border: 0;

    bottom: 5rem;
    right: -7rem;

    transform: scale(.6);
    pointer-events: all;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1);
      bottom: 9rem;
      right: 2rem;

      .panel-heading {
        opacity: 1;
      }
    }

    .panel-heading {
      background-color: rgba(0,0,0,0.1);
      border-radius: 1rem 1rem 1rem 1rem;
      border: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  .idea-zone {
    position: absolute;
    width: 7.5rem;

    pointer-events: all;
    transition: all .3s ease-in-out;
    transform: scale(.5);
    left: 0;
    bottom: 6.5rem;
    opacity: .7;

    overflow: hidden;
    border-radius: 1rem;
    padding: 1rem 2rem;

    a {
      white-space: nowrap;
      position: absolute;
      top: 2rem;
      opacity: 0;
      margin-left: 2rem;
      color: #62bd91;
    }

    &:hover {
      width: 50rem;
      bottom: 8rem;
      left: 2rem;
      transform: scale(1);
      opacity: 1;

      a {
        opacity: 1;
      }

      .fa {
        color: #62bd91;
      }
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}


.board-info {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 17rem;
  border-radius: 1rem;
  text-align: center;
  top: 5rem;
  left: 2rem;

  h1 {
    font-weight: 100;
    position: relative;
    top: 15rem;
    left: 0rem;
    font-size: 2.5rem;
    opacity: 1.5;
    color: white;
    text-transform: uppercase;
  }

  .board-logo {
    width: 16rem;
    opacity: 0.7;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 0;

    img {
      max-width: 100%;
    }
  }
}
