.steps {
  // Add a brown background behind the contols to hide the slide in/out of the panel controls
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background-color: #6f5849;
  }
}
