.panel-group {
  &.strip-list {
    margin-bottom: .5rem;
    position: relative;

    .panel-title a {
      font-weight: 300;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .remove-strip {
      // position: absolute;
      // right: 5.5rem;
      // top: .5rem;
      float: right;
      color: #d9534f;
    }

  }
}
