.wood-picker {
  .dropdown-menu {
    flex-wrap: wrap;
    max-height: 23.5rem;
    overflow: auto;

    .swatch {
      margin: .25rem;
    }
  }

  &.open > .dropdown-menu {
    display: flex;
  }
}

.swatch {
  background-size: cover;
  border-color: #666;
  border-radius: .5rem;
  border-width: .2rem;
  border-style: solid;
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
  float: left;

}

.swatch-mini {
  background-: cover;
  border-width: .1rem;
  display: inline-block;
  float: right;
  height: 2rem;
  width: 2rem;
  margin: 0;
}

.swatch-clickable:hover {
  border-color: #000;
  cursor: pointer;
}
