.wood-picker {
  .dropdown-menu {
    flex-wrap: wrap;
    height: 26rem;
    overflow: hidden;
    width: 29rem;

    .swatch {
      margin: 0 -1.75rem -1.05rem 0;
    }
  }

  &.open > .dropdown-menu {
    display: flex;
  }

  .color-name {
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
}

.swatch {
  background-size: cover;
  border-color: #666;
  border-radius: 3.5rem;
  border-width: .2rem;
  border-style: solid;
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
  float: left;

  cursor: pointer;
}

.swatch-big {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
}

.swatch-mini {
  border-width: .1rem;
  display: inline-block;
  float: right;
  height: 2rem;
  width: 2rem;
  margin: 0;
}

.swatch-clickable:hover {
  border-color: #62bd91;
  cursor: pointer;
}
