.container {
  padding-top: 5rem;
}

.dropdown-menu {
  padding: 1rem;
}

.panel-heading {
  .drag-handle {
    opacity: .1;
    margin-right: 1rem;

    &:hover {
      cursor: ns-resize;;
    }
  }

  &:hover {
    .drag-handle  {
        opacity: 1;
    }

  }

}
