menu[type="toolbar"] {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  overflow: auto;

  > * {
    flex-shrink: 0;
  }

  header {
    padding: .5rem 2rem;
    overflow: auto;
    background-color: black;
    color: white;

    h3 {
      margin-top: 1rem;
      font-weight: 100;
    }

    .fa {
      color: #62bd91;
    }
  }

  .options {
    padding: 2rem;
    flex-grow: 1;

    fieldset {
      margin-bottom: 2rem;
    }
  }

  .separator {
    margin: 1.5rem 2rem 0;
    border-top: .1rem solid #CCC;
    padding: 0 1.5rem 1.5rem;
  }

  .controls {
    padding: .5rem 2rem;
  }

  .details {
    padding: 2rem;
    font-weight: 100;
    font-size: 3rem;
  }
}


.container {
  padding-top:50px;
}

.swatch {
  width:70px;
  height:70px;
  border-radius:5px;
  border: 2px solid #666;
}

.swatch-mini {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  float: right;
  border-width: .1rem;
}

.swatch-clickable:hover {
  border: 2px solid #000;
  cursor: pointer;
}

.dropdown-menu {
  padding:10px;
}

#strip-list {
  table {
    td {
      vertical-align: bottom;
    }
  }
}


.wood-picker {
  .dropdown-menu {
    padding: .5rem;
    box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.2);
  }
}
