.swatch {
  background-size: cover;
  border-color: #666;
  border-radius: 3.5rem;
  border-width: .2rem;
  border-style: solid;
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.swatch-big {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
}

.swatch-mini {
  border-width: .1rem;
  display: inline-block;
  float: right;
  height: 2rem;
  width: 2rem;
  margin: 0;
}

.swatch-clickable {
  pointer-events: all;

  &:hover {
    border-color: $pcw-green;
    cursor: pointer;
  }

  &.selected {
    border-color: $pcw-green;
  }
}
