.african-mahogany {
  background-image: url(../assets/woods/african-mahogany.jpg);
  &.swatch {
    background-image: url(../assets/woods/african-mahogany-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/african-mahogany-lowres.jpg);
  }
}

.ash {
  background-image: url(../assets/woods/ash.jpg);
  &.swatch {
    background-image: url(../assets/woods/ash-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/ash-lowres.jpg);
  }
}

.brazilian-cherry {
  background-image: url(../assets/woods/brazilian-cherry.jpg);
  &.swatch {
    background-image: url(../assets/woods/brazilian-cherry-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/brazilian-cherry-lowres.jpg);
  }
}

.bubinga {
  background-image: url(../assets/woods/bubinga.jpg);
  &.swatch {
    background-image: url(../assets/woods/bubinga-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/bubinga-lowres.jpg);
  }
}

.cherry {
  background-image: url(../assets/woods/cherry.jpg);
  &.swatch {
    background-image: url(../assets/woods/cherry-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/cherry-lowres.jpg);
  }
}

.rosewood {
  background-image: url(../assets/woods/rosewood.jpg);
  &.swatch {
    background-image: url(../assets/woods/rosewood-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/rosewood-lowres.jpg);
  }
}

.hickory {
  background-image: url(../assets/woods/hickory.jpg);
  &.swatch {
    background-image: url(../assets/woods/hickory-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/hickory-lowres.jpg);
  }
}

.lacewood {
  background-image: url(../assets/woods/lacewood.jpg);
  &.swatch {
    background-image: url(../assets/woods/lacewood-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/lacewood-lowres.jpg);
  }
}

.lyptus {
  background-image: url(../assets/woods/lyptus.jpg);
  &.swatch {
    background-image: url(../assets/woods/lyptus-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/lyptus-lowres.jpg);
  }
}

.maple {
  background-image: url(../assets/woods/maple.jpg);
  &.swatch {
    background-image: url(../assets/woods/maple-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/maple-lowres.jpg);
  }
}

.oak-red {
  background-image: url(../assets/woods/oak-red.jpg);
  &.swatch {
    background-image: url(../assets/woods/oak-red-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/oak-red-lowres.jpg);
  }
}

.oak-white {
  background-image: url(../assets/woods/oak-white.jpg);
  &.swatch {
    background-image: url(../assets/woods/oak-white-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/oak-white-lowres.jpg);
  }
}

.padauk {
  background-image: url(../assets/woods/padauk.jpg);
  &.swatch {
    background-image: url(../assets/woods/padauk-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/padauk-lowres.jpg);
  }
}

.purpleheart {
  background-image: url(../assets/woods/purpleheart.jpg);
  &.swatch {
    background-image: url(../assets/woods/purpleheart-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/purpleheart-lowres.jpg);
  }
}

.walnut {
  background-image: url(../assets/woods/walnut.jpg);
  &.swatch {
    background-image: url(../assets/woods/walnut-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/walnut-lowres.jpg);
  }
}

.wenge {
  background-image: url(../assets/woods/wenge.jpg);
  &.swatch {
    background-image: url(../assets/woods/wenge-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/wenge-lowres.jpg);
  }
}

.yellowheart {
  background-image: url(../assets/woods/yellowheart.jpg);
  &.swatch {
    background-image: url(../assets/woods/yellowheart-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/yellowheart-lowres.jpg);
  }
}

.zebrano {
  background-image: url(../assets/woods/zebrano.jpg);
  &.swatch {
    background-image: url(../assets/woods/zebrano-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/zebrano-lowres.jpg);
  }
}

.endgrain-walnut {
  background-image: url(../assets/woods/endgrain-walnut.jpg);
  &.swatch {
    background-image: url(../assets/woods/endgrain-walnut-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/endgrain-walnut-lowres.jpg);
  }
}

.mosaic-cosmicllama {
  background-image: url(../assets/woods/mosaic-cosmicllama.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-cosmicllama-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-cosmicllama-lowres.jpg);
  }
}

.mosaic-dayolddonut {
  background-image: url(../assets/woods/mosaic-dayolddonut.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-dayolddonut-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-dayolddonut-lowres.jpg);
  }
}

.mosaic-flannelledlilly {
  background-image: url(../assets/woods/mosaic-flannelledlilly.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-flannelledlilly-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-flannelledlilly-lowres.jpg);
  }
}

.mosaic-fluffyalbatross {
  background-image: url(../assets/woods/mosaic-fluffyalbatross.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-fluffyalbatross-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-fluffyalbatross-lowres.jpg);
  }
}

.mosaic-ivoryjive {
  background-image: url(../assets/woods/mosaic-ivoryjive.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-ivoryjive-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-ivoryjive-lowres.jpg);
  }
}

.mosaic-maroontuna {
  background-image: url(../assets/woods/mosaic-maroontuna.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-maroontuna-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-maroontuna-lowres.jpg);
  }
}

.mosaic-moldypeach {
  background-image: url(../assets/woods/mosaic-moldypeach.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-moldypeach-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-moldypeach-lowres.jpg);
  }
}

.mosaic-muskymoose {
  background-image: url(../assets/woods/mosaic-muskymoose.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-muskymoose-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-muskymoose-lowres.jpg);
  }
}

.mosaic-oliveostrich {
  background-image: url(../assets/woods/mosaic-oliveostrich.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-oliveostrich-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-oliveostrich-lowres.jpg);
  }
}

.mosaic-plummypickle {
  background-image: url(../assets/woods/mosaic-plummypickle.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-plummypickle-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-plummypickle-lowres.jpg);
  }
}

.mosaic-redeclipse {
  background-image: url(../assets/woods/mosaic-redeclipse.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-redeclipse-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-redeclipse-lowres.jpg);
  }
}

.mosaic-rustypineapple {
  background-image: url(../assets/woods/mosaic-rustypineapple.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-rustypineapple-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-rustypineapple-lowres.jpg);
  }
}

.mosaic-siennabacon {
  background-image: url(../assets/woods/mosaic-siennabacon.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-siennabacon-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-siennabacon-lowres.jpg);
  }
}

.mosaic-whiterabbit {
  background-image: url(../assets/woods/mosaic-whiterabbit.jpg);
  &.swatch {
    background-image: url(../assets/woods/mosaic-whiterabbit-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/mosaic-whiterabbit-lowres.jpg);
  }
}
