.african-mohogany {
  background-image: url(../assets/woods/african-mohogany.jpg);
}
.ash {
  background-image: url(../assets/woods/ash.jpg);
}
.brazilian-cherry {
  background-image: url(../assets/woods/brazilian-cherry.jpg);
}
.bubinga {
  background-image: url(../assets/woods/bubinga.jpg);
}
.cherry {
  background-image: url(../assets/woods/cherry.jpg);
}
.cocobolo {
  background-image: url(../assets/woods/cocobolo.jpg);
}
.hickory {
  background-image: url(../assets/woods/hickory.jpg);
}
.lacewood {
  background-image: url(../assets/woods/lacewood.jpg);
}
.lyptus {
  background-image: url(../assets/woods/lyptus.jpg);
}
.maple {
  background-image: url(../assets/woods/maple.jpg);
}
.oak-red {
  background-image: url(../assets/woods/oak-red.jpg);
}
.oak-white {
  background-image: url(../assets/woods/oak-white.jpg);
}
.padauk {
  background-image: url(../assets/woods/padauk.jpg);
}
.purpleheart {
  background-image: url(../assets/woods/purpleheart.jpg);
}
.walnut {
  background-image: url(../assets/woods/walnut.jpg);
}
.wenge {
  background-image: url(../assets/woods/wenge.jpg);
}
.yellowheart {
  background-image: url(../assets/woods/yellowheart.jpg);
}
.zembrano {
  background-image: url(../assets/woods/zembrano.jpg);
}
