.african-mahogany {
  background-image: url(../assets/woods/african-mahogany.jpg);
  &.swatch {
    background-image: url(../assets/woods/african-mahogany-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/african-mahogany-lowres.jpg);
  }
}

.ash {
  background-image: url(../assets/woods/ash.jpg);
  &.swatch {
    background-image: url(../assets/woods/ash-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/ash-lowres.jpg);
  }
}

.brazilian-cherry {
  background-image: url(../assets/woods/brazilian-cherry.jpg);
  &.swatch {
    background-image: url(../assets/woods/brazilian-cherry-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/brazilian-cherry-lowres.jpg);
  }
}

.bubinga {
  background-image: url(../assets/woods/bubinga.jpg);
  &.swatch {
    background-image: url(../assets/woods/bubinga-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/bubinga-lowres.jpg);
  }
}

.cherry {
  background-image: url(../assets/woods/cherry.jpg);
  &.swatch {
    background-image: url(../assets/woods/cherry-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/cherry-lowres.jpg);
  }
}

.cocobolo {
  background-image: url(../assets/woods/cocobolo.jpg);
  &.swatch {
    background-image: url(../assets/woods/cocobolo-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/cocobolo-lowres.jpg);
  }
}

.hickory {
  background-image: url(../assets/woods/hickory.jpg);
  &.swatch {
    background-image: url(../assets/woods/hickory-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/hickory-lowres.jpg);
  }
}

.lacewood {
  background-image: url(../assets/woods/lacewood.jpg);
  &.swatch {
    background-image: url(../assets/woods/lacewood-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/lacewood-lowres.jpg);
  }
}

.lyptus {
  background-image: url(../assets/woods/lyptus.jpg);
  &.swatch {
    background-image: url(../assets/woods/lyptus-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/lyptus-lowres.jpg);
  }
}

.maple {
  background-image: url(../assets/woods/maple.jpg);
  &.swatch {
    background-image: url(../assets/woods/maple-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/maple-lowres.jpg);
  }
}

.oak-red {
  background-image: url(../assets/woods/oak-red.jpg);
  &.swatch {
    background-image: url(../assets/woods/oak-red-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/oak-red-lowres.jpg);
  }
}

.oak-white {
  background-image: url(../assets/woods/oak-white.jpg);
  &.swatch {
    background-image: url(../assets/woods/oak-white-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/oak-white-lowres.jpg);
  }
}

.padauk {
  background-image: url(../assets/woods/padauk.jpg);
  &.swatch {
    background-image: url(../assets/woods/padauk-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/padauk-lowres.jpg);
  }
}

.purpleheart {
  background-image: url(../assets/woods/purpleheart.jpg);
  &.swatch {
    background-image: url(../assets/woods/purpleheart-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/purpleheart-lowres.jpg);
  }
}

.walnut {
  background-image: url(../assets/woods/walnut.jpg);
  &.swatch {
    background-image: url(../assets/woods/walnut-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/walnut-lowres.jpg);
  }
}

.wenge {
  background-image: url(../assets/woods/wenge.jpg);
  &.swatch {
    background-image: url(../assets/woods/wenge-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/wenge-lowres.jpg);
  }
}

.yellowheart {
  background-image: url(../assets/woods/yellowheart.jpg);
  &.swatch {
    background-image: url(../assets/woods/yellowheart-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/yellowheart-lowres.jpg);
  }
}

.zembrano {
  background-image: url(../assets/woods/zembrano.jpg);
  &.swatch {
    background-image: url(../assets/woods/zembrano-swatch.jpg);
  }
  &.lowres {
    background-image: url(../assets/woods/zembrano-lowres.jpg);
  }
}
